body {
  text-align: center;
  background-color: #13152A;
  color: white;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
}

#kleverIcon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  width: 20%;
}

#starIcon {
  width: 35px;
  filter: invert(92%) sepia(63%) saturate(5261%) hue-rotate(334deg) brightness(116%) contrast(84%);
}

.addTokenBtnContainer {
  margin-left: 10%;
}
